@import url('https://fonts.googleapis.com/css?family=Proza+Libre');
@import url('https://fonts.googleapis.com/css?family=Abel');

@import url('https://fonts.googleapis.com/css?family=Marcellus+SC');
@import url('https://fonts.googleapis.com/css?family=Kreon');
@import url('https://fonts.googleapis.com/css?family=Marcellus');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');

a {
  color: inherit !important;
  text-decoration: none !important;
}

/* export to file */
.post-title {
  font-family: 'Marcellus SC', serif;
  margin: 0.2em 0;
}
.mb-small {
  margin-bottom: .5em;
}
.mb-med {
  margin-bottom: 2em;
}
.post-author {
  margin-bottom: .5em;
}
/* */
.tag {
  display: inline-block;
}
.tag::after {
content: ', ';
  white-space: pre;
}
.tag:last-child::after {
content: '';
}
.tag-list::before {
content: 'Tags: ';
  white-space: pre;
}
.tag-list {
  padding-left: 0;
}
.after-article {
	margin-bottom: 5em;
}

.light-contrast {
  color: #767676;
  font-size: 12px;
}
.post-card {
  margin-top: 1em;
	padding: 1em 0 2em 2em;
}
@media (max-width: 600px) {
  .post-content {
		padding-left: 0 !important;
		padding-right: 0 !important;
		
	}
}
@media (max-width: 700px) {
  .post-card {
    padding: 1em 0 0.5em .5em;
  }
}