
@import url('https://fonts.googleapis.com/css?family=Proza+Libre');
@media only screen and (max-width: 500px) {
  blockquote {
    width: 90%;
  }
}
blockquote::after{
  /*Reset to make sure*/
  content: "";
}
blockquote p {
  font-size: 1.4em;
  line-height: 1.2em;
}
blockquote br {
  display: none; /* remove br from tiptap */
}
blockquote::before {
	content: "\201C";
	position: relative;
	float: left;
	bottom: 0;
	font-family: 'Proza Libre', sans-serif;
	font-size: 4em;
	color: #FDA7DF;
}

blockquote {
  width: 75%;
	color: #999;
  padding-left: 2em;
  display: inline-block;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


.content-font {
  font-family: 'IBM Plex Sans', sans-serif;
  /*
  font-family: 'ABeeZee', sans-serif;
  */
}
.post-body {
  font-size: 21px;
  line-height: 1.40em;
}
.post-body img {
  width: 100%;
  height: auto;
}
/* margins */
.mt-sm {
  margin-top: .5em;
}
.mb-xs {
  margin-bottom: .25em;
}
.neg-margin-top {
  margin-top: -2em;
}

.hover-bold:hover {
  font-weight: bold;
  color: black !important;
}

.editor__content {
  margin-bottom: 0;
}
/* Highlights focused editor component */
  .highlight{
    background-color:pink;
    border-radius: 5px;
  }

/* To do List */
ul[data-type="todo_list"] {
  padding-left: 0;
}
li[data-type="todo_item"] {
  display: flex;
  flex-direction: row;

}
.todo-checkbox {
  border: 2px solid pink;
  height: 0.9em;
  width: 0.9em;
  box-sizing: border-box;
  margin-right: 10px;
  margin-top: 0.3rem;
  user-select: none;
  -webkit-user-select: none;
  border-radius: 0.2em;
  background-color: transparent;
}
.todo-content {
  flex: 1;
}
li[data-done="true"] {
  text-decoration: line-through;
}
li[data-done="true"] .todo-checkbox {
  background-color: pink;
}
li[data-done="false"] {
  text-decoration: none;
}
/* End to-do list */

/* iframe */
.iframe {
  &__embed {
    width: 50%;
    width: 100%;
    height: 20rem;
    border: 0;
  }
  &__input {
    display: block;
    width: 100%;
    font: inherit;
    border: 0;
    border-radius: 5px;
    background-color: rgba(black, 0.1);
    padding: 0.3rem 0.5rem;
  }
}

/* 
post style
*/

@import url('https://fonts.googleapis.com/css?family=Marcellus+SC');


.mb-small {
  margin-bottom: .5em;
}
.mb-med {
  margin-bottom: 2em;
}
.post-author {
  margin-bottom: .5em;
}
/* */
.tag {
  display: inline-block;
}
.tag a {
  color: #ffff;
  font-weight: bold;
}
.tag::after {
content: ' ';
  white-space: pre;
}
.tag:last-child::after {
content: '';
}
.tag-list-pre {
  display: flex;
  justify-content: center;
  color: #767676;
  font-weight: bold;
  margin-bottom: 1em;
}
.tag-list {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.tag-list a {
  color: #ffff;
}
.after-article {
	margin-bottom: 5em;
}
.neg-marg-xs {
  margin-top: -.5em;
}
.light-contrast {
  color: #767676;
  font-size: 12px;
}
.post-card {
  width:100%;
  margin-top: 1em;
	padding: 0.5em 1em 2em 2em;
}

@media (max-width: 650px) {
  .post-body {
    font-size: 18px !important;
  }
}
